@page "/"

<PageTitle>Index</PageTitle>

<h1>Cropperjs to Core samples!</h1>


<div class="container">
    <div class="row">
        <div class="col-3">
            <a href="cropperwrapper">Cropper Wrapper</a>
        </div>
        <div class="col">
            Sample
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <a href="multiplecropper">Multiple Cropper</a>
        </div>
        <div class="col">
            Sample multiple cropper
        </div>
    </div>
</div>
