@page "/multiplecropper"
@using CropperCore.Enumerates

<h3>Multiple Croppers</h3>

<div class="container">
    <div class="row justify-content-md-center mb-3">
        <div class="col">
            <img @ref="imgRef1" id="image1" src="@imgUrl" alt="Picture">
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col">
            <img @ref="imgRef2" id="image2" src="@imgUrl" alt="Picture">
        </div>
    </div>
</div>
